.list{
    background-color: aquamarine;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;

    
}


    
.previous{
  
    
    text-align: center;
    font-size: x-large;
    
   
    
    }
     .next{
         
       
        font-size: x-large;font-weight: 100;}
         
       